<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>movimientos</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>posiciones</key>
		<array>
			<array>
				<integer>25</integer>
				<integer>180</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>180</integer>
			</array>
			<array>
				<integer>25</integer>
				<integer>280</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>280</integer>
			</array>
		</array>
		<key>camino_misterioso</key>
		<array>
			<string>Sword</string>
			<string>Map</string>
			<string>Bomb</string>
			<string>Ship</string>
		</array>
		<key>animacion</key>
		<dict>
			<key>xPos</key>
			<integer>120</integer>
			<key>yPos</key>
			<integer>125</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>193</integer>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>movimientos</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>posiciones</key>
		<array>
			<array>
				<integer>25</integer>
				<integer>180</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>180</integer>
			</array>
			<array>
				<integer>25</integer>
				<integer>280</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>280</integer>
			</array>
			<array>
				<integer>25</integer>
				<integer>80</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>80</integer>
			</array>
			<array>
				<integer>25</integer>
				<integer>380</integer>
			</array>
			<array>
				<integer>260</integer>
				<integer>380</integer>
			</array>
		</array>
		<key>camino_misterioso</key>
		<array>
			<string>Sword</string>
			<string>Map</string>
			<string>Bomb</string>
			<string>Ship</string>
			<string>Snow</string>
			<string>Sleigh</string>
			<string>Snowman</string>
			<string>Bed</string>
		</array>
		<key>animacion</key>
		<dict>
			<key>xPos</key>
			<integer>120</integer>
			<key>yPos</key>
			<integer>125</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>193</integer>
		</dict>
	</dict>
</dict>
</plist>
