<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>tag</key>
		<integer>10</integer>
		<key>title</key>
		<string>Sword</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>sword.png</string>
	</dict>
	<key>2</key>
	<dict>
		<key>tag</key>
		<integer>15</integer>
		<key>title</key>
		<string>Map</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>map.png</string>
	</dict>
	<key>3</key>
	<dict>
		<key>tag</key>
		<integer>30</integer>
		<key>title</key>
		<string>Bomb</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomb.png</string>
	</dict>
	<key>4</key>
	<dict>
		<key>tag</key>
		<integer>40</integer>
		<key>title</key>
		<string>Ship</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>ship.png</string>
	</dict>
	<key>5</key>
	<dict>
		<key>tag</key>
		<integer>50</integer>
		<key>title</key>
		<string>Snow</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>snow.png</string>
	</dict>
	<key>6</key>
	<dict>
		<key>tag</key>
		<integer>60</integer>
		<key>title</key>
		<string>Sleigh</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>sleigh.png</string>
	</dict>
	<key>7</key>
	<dict>
		<key>tag</key>
		<integer>70</integer>
		<key>title</key>
		<string>Snowman</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>snowman.png</string>
	</dict>
	<key>8</key>
	<dict>
		<key>tag</key>
		<integer>80</integer>
		<key>title</key>
		<string>Bed</string>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bed.png</string>
	</dict>
</dict>
</plist>
