<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>tag</key>
		<integer>10</integer>
		<key>title</key>
		<string>Barco</string>
		<key>posX</key>
		<integer>25</integer>
		<key>posY</key>
		<integer>80</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>timon.png</string>
	</dict>
	<key>2</key>
	<dict>
		<key>tag</key>
		<integer>20</integer>
		<key>title</key>
		<string>Espada</string>
		<key>posX</key>
		<integer>25</integer>
		<key>posY</key>
		<integer>180</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>buzo.png</string>
	</dict>
	<key>3</key>
	<dict>
		<key>tag</key>
		<integer>30</integer>
		<key>title</key>
		<string>Mapa</string>
		<key>posX</key>
		<integer>25</integer>
		<key>posY</key>
		<integer>280</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>baul.png</string>
	</dict>
	<key>4</key>
	<dict>
		<key>tag</key>
		<integer>40</integer>
		<key>title</key>
		<string>Caballo</string>
		<key>posX</key>
		<integer>25</integer>
		<key>posY</key>
		<integer>380</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomba.png</string>
	</dict>
	<key>5</key>
	<dict>
		<key>tag</key>
		<integer>50</integer>
		<key>title</key>
		<string>Caballo</string>
		<key>posX</key>
		<integer>260</integer>
		<key>posY</key>
		<integer>80</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomba.png</string>
	</dict>
	<key>6</key>
	<dict>
		<key>tag</key>
		<integer>60</integer>
		<key>title</key>
		<string>Caballo</string>
		<key>posX</key>
		<integer>260</integer>
		<key>posY</key>
		<integer>180</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomba.png</string>
	</dict>
	<key>7</key>
	<dict>
		<key>tag</key>
		<integer>70</integer>
		<key>title</key>
		<string>Caballo</string>
		<key>posX</key>
		<integer>260</integer>
		<key>posY</key>
		<integer>280</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomba.png</string>
	</dict>
	<key>8</key>
	<dict>
		<key>tag</key>
		<integer>80</integer>
		<key>title</key>
		<string>Caballo</string>
		<key>posX</key>
		<integer>260</integer>
		<key>posY</key>
		<integer>380</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>44</integer>
		<key>image</key>
		<string>bomba.png</string>
	</dict>
</dict>
</plist>
